<div class="booking-history-container">
  <div class="history-header-container">
    <div class="history-title">
      <a routerLink="/rooms"
        ><img src="../../assets/icons/chevron-left-arrow.svg"
      /></a>
      <span>Booking History</span>
    </div>

    <div>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          placeholder="Search"
          [(ngModel)]="searchText"
        />
      </span>
    </div>
  </div>
  <div>
    <tabset>
      <tab>
        <ng-template tabHeading>
          <span>All</span>

          <b class="badge">{{ bookings?.length }}</b>
        </ng-template>
        <ng-template #notEmpty>
          <div class="cancelled-empty-state">
            <img src="../../assets/images/cancel-empty.svg" />
          </div>
        </ng-template>
        <div class="table-container" *ngIf="bookings; else notEmpty">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">SN</th>
                <th scope="col">ID</th>
                <th scope="col">Requested on</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Room</th>
                <th scope="col">Slot</th>
                <th scope="col">Requested by</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let booking of bookings | search: searchText;
                  index as i
                "
                (click)="clickContinue(booking.id)"
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ booking?.id }}</td>
                <td>{{ booking?.createdAt | date: "d MMM, y" }}</td>
                <td>
                  {{ booking?.bookedDates[0].eventDate | date: "d MMM, y" }}
                </td>
                <td>
                  <!-- {{ startDate | date: "d MMM, y" }} -->
                  {{
                    booking?.bookedDates[booking?.bookedDates.length - 1]
                      .eventDate | date: "d MMM, y"
                  }}
                </td>
                <td>{{ booking?.spaceName }}</td>
                <td>
                  {{ booking?.bookedDates[0].time | slice: 0:8 }}
                </td>
                <td>{{ booking?.internalContactPerson }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <span>Pending</span>

          <b class="badge">{{ pendingBookings?.length }}</b>
        </ng-template>
        <ng-template #notEmpty>
          <div class="cancelled-empty-state">
            <img src="../../assets/images/cancel-empty.svg" />
          </div>
        </ng-template>
        <div class="table-container" *ngIf="pendingBookings; else notEmpty">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">SN</th>
                <th scope="col">ID</th>
                <th scope="col">Requested on</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Room</th>
                <th scope="col">Slot</th>
                <th scope="col">Requested by</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let pendingBooking of pendingBookings | search: searchText;
                  index as i
                "
                (click)="clickContinue(pendingBooking.id)"
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{ pendingBooking?.id }}
                </td>
                <td>{{ pendingBooking?.createdAt | date: "d MMM, y" }}</td>
                <td>
                  {{
                    pendingBooking?.bookedDates[0].eventDate | date: "d MMM, y"
                  }}
                </td>
                <td>
                  {{
                    pendingBooking?.bookedDates[
                      pendingBooking?.bookedDates.length - 1
                    ].eventDate | date: "d MMM, y"
                  }}
                </td>
                <td>{{ pendingBooking?.spaceName }}</td>
                <td>
                  {{ pendingBooking?.bookedDates[0].time | slice: 0:8 }}
                </td>
                <td>{{ pendingBooking?.internalContactPerson }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <span>Approved</span>
          <b class="badge">{{ approvedBookings?.length }}</b>
        </ng-template>
        <ng-template #notEmpty>
          <div class="cancelled-empty-state">
            <img src="../../assets/images/cancel-empty.svg" />
          </div>
        </ng-template>
        <div class="table-container">
          <table class="table" *ngIf="approvedBookings; else notEmpty">
            <thead>
              <tr>
                <th scope="col">SN</th>
                <th scope="col">ID</th>
                <th scope="col">Requested on</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Room</th>
                <th scope="col">Slot</th>
                <th scope="col">Requested by</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="
                  let approvedBooking of approvedBookings | search: searchText;
                  index as i
                "
                (click)="clickContinue(approvedBooking.id)"
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ approvedBooking?.id }}</td>
                <td>{{ approvedBooking?.createdAt | date: "d MMM, y" }}</td>
                <td>
                  {{
                    approvedBooking?.bookedDates[0].eventDate | date: "d MMM, y"
                  }}
                </td>
                <td>
                  {{
                    approvedBooking?.bookedDates[
                      approvedBooking?.bookedDates.length - 1
                    ].eventDate | date: "d MMM, y"
                  }}
                </td>
                <td>{{ approvedBooking?.spaceName }}</td>
                <td>
                  {{ approvedBooking?.bookedDates[0].time | slice: 0:8 }}
                </td>
                <td>{{ approvedBooking?.internalContactPerson }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <span>Denied</span>
          <b class="badge">{{ deniedBookings?.length }}</b>
        </ng-template>
        <ng-template #notEmpty>
          <div class="cancelled-empty-state">
            <img src="../../assets/images/cancel-empty.svg" />
          </div>
        </ng-template>
        <div class="table-container">
          <table class="table" *ngIf="deniedBookings; else notEmpty">
            <thead>
              <tr>
                <th scope="col">SN</th>
                <th scope="col">ID</th>
                <th scope="col">Requested on</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Room</th>
                <th scope="col">Slot</th>
                <th scope="col">Requested by</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let deniedBooking of deniedBookings | search: searchText;
                  index as i
                "
                (click)="clickContinue(deniedBooking.id)"
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ deniedBooking?.id }}</td>
                <td>{{ deniedBooking?.createdAt | date: "d MMM, y" }}</td>
                <td>
                  {{
                    deniedBooking?.bookedDates[0].eventDate | date: "d MMM, y"
                  }}
                </td>
                <td>
                  {{
                    deniedBooking?.bookedDates[
                      deniedBooking?.bookedDates.length - 1
                    ].eventDate | date: "d MMM, y"
                  }}
                </td>
                <td>{{ deniedBooking?.spaceName }}</td>
                <td>
                  {{ deniedBooking?.bookedDates[0].time | slice: 0:8 }}
                </td>
                <td>{{ deniedBooking?.internalContactPerson }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <span>Cancelled</span>

          <b class="badge">{{ cancelledBookings?.length }}</b>
        </ng-template>
        <ng-template #notEmpty>
          <div class="cancelled-empty-state">
            <img src="../../assets/images/cancel-empty.svg" />
          </div>
        </ng-template>
        <div
          *ngIf="this.cancelledBookings; else notEmpty"
          class="table-container"
        >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">SN</th>
                <th scope="col">ID</th>
                <th scope="col">Requested on</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Room</th>
                <th scope="col">Slot</th>
                <th scope="col">Requested by</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let cancelledBooking of cancelledBookings
                    | search: searchText;
                  index as i
                "
                (click)="clickContinue(cancelledBooking.id)"
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ cancelledBooking?.id }}</td>
                <td>{{ cancelledBooking?.createdAt | date: "d MMM, y" }}</td>
                <td>
                  {{
                    cancelledBooking?.bookedDates[0].eventDate
                      | date: "d MMM, y"
                  }}
                </td>
                <td>
                  {{
                    cancelledBooking?.bookedDates[
                      cancelledBooking?.bookedDates.length - 1
                    ].eventDate | date: "d MMM, y"
                  }}
                </td>
                <td>{{ cancelledBooking?.spaceName }}</td>
                <td>
                  {{ cancelledBooking?.bookedDates[0].time | slice: 0:8 }}
                </td>
                <td>{{ cancelledBooking?.internalContactPerson }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabset>
  </div>
</div>
