<div class="booking-history-container">
  <div class="history-title">
    <a routerLink="/rooms"
      ><img src="../../assets/icons/chevron-left-arrow.svg"
    /></a>
    <span>Booking History</span>
  </div>
  <div>
    <p-tabView>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>All</span>
          <p-badge value="8"></p-badge>
        </ng-template>
        <div>
          <table>
            <thead>
              <tr>
                <th>SN</th>
                <th>ID</th>
                <th>Requested on</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Room</th>
                <th>Slot</th>
                <th>Requested by</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>2</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>3</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>4</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>5</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>6</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>7</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>8</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
            </tbody>
          </table>
        </div>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>Pending</span>
          <p-badge value="5"></p-badge>
        </ng-template>
        <div>
          <table>
            <thead>
              <tr>
                <th>SN</th>
                <th>ID</th>
                <th>Requested on</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Room</th>
                <th>Slot</th>
                <th>Requested by</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>2</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>3</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>4</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>5</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
            </tbody>
          </table>
        </div>
      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>Approved</span>
          <p-badge value="8"></p-badge>
        </ng-template>
        <div>
          <table>
            <thead>
              <tr>
                <th>SN</th>
                <th>ID</th>
                <th>Requested on</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Room</th>
                <th>Slot</th>
                <th>Requested by</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>2</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>3</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>4</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>5</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>6</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>7</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>8</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
            </tbody>
          </table>
        </div>
      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>Denied</span>
          <p-badge value="3"></p-badge>
        </ng-template>
        <div>
          <table>
            <thead>
              <tr>
                <th>SN</th>
                <th>ID</th>
                <th>Requested on</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Room</th>
                <th>Slot</th>
                <th>Requested by</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>2</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
              <tr>
                <td>3</td>
                <td>EC-22/0001</td>
                <td>20 Aug,2022</td>
                <td>20 Aug, 2022</td>
                <td>20 Aug, 2022</td>
                <td>The Coliseum</td>
                <td>Morning</td>
                <td>Anissah George</td>
              </tr>
            </tbody>
          </table>
        </div>
      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>Cancelled</span>
          <p-badge value="2"></p-badge>
        </ng-template>
        <div class="cancelled-empty-state">
          <img src="../../assets/images/cancel-empty.svg" />
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
