<!-- Toolbar -->

<div>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid header-container">
      <a class="navbar-brand" href="#" class="logo">
        <img alt="EC-Booking Logo" src="../../assets/images/logo.svg" />
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-container">
          <li class="nav-item">
            <a
              [routerLink]="['']"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              #home="routerLinkActive"
            >
              <img
                [src]="
                  home.isActive
                    ? '../../assets/icons/home-active.svg'
                    : '../../assets/icons/home.svg'
                "
                class="nav-icon"
              />
              <div>
                <span class="nav-text">Home</span>
                <div [ngClass]="home.isActive ? 'divider' : ''"></div>
              </div>
            </a>
          </li>

          <li ngbDropdown class="nav-item dropdown">
            <a
              ngbDropdownToggle
              class="nav-items"
              [routerLink]=""
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              #booking="routerLinkActive"
              role="button"
            >
              <img
                [src]="
                  booking.isActive
                    ? '../../assets/icons/booking-active.svg'
                    : '../../assets/icons/booking.svg'
                "
                class="nav-icon"
              />
              <span class="nav-text">Booking</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>
                <a
                  class="nav-items"
                  [routerLink]="['/rooms']"
                  routerLinkActive="active"
                  (click)="$event.preventDefault()"
                >
                  <span>Rooms</span>
                </a>
              </button>
              <button ngbDropdownItem>
                <a
                  class="nav-items"
                  [routerLink]="['/booking-history']"
                  routerLinkActive="active"
                  (click)="$event.preventDefault()"
                >
                  <span>Booking History</span>
                </a>
              </button>
            </div>
          </li>
          <li *ngIf="showMenu" class="nav-item">
            <a
              class="nav-items disabled"
              [routerLink]="['/report']"
              routerLinkActive="active"
              #report="routerLinkActive"
            >
              <img
                [src]="
                  report.isActive
                    ? '../../assets/icons/report-active.svg'
                    : '../../assets/icons/gray-report.svg'
                "
                class="nav-icon"
              />
              <div>
                <span class="nav-text">Report</span>
                <div [ngClass]="report.isActive ? 'divider' : ''"></div>
              </div>
            </a>
          </li>
          <li *ngIf="showMenu" class="nav-item">
            <a
              class="nav-items"
              [routerLink]="['/calendar']"
              routerLinkActive="active"
              #calendar="routerLinkActive"
            >
              <img
                [src]="
                  calendar.isActive
                    ? '../../assets/icons/calendar-active.svg'
                    : '../../assets/icons/calendar.svg'
                "
                class="nav-icon"
              />
              <div class="">
                <span class="nav-text">Calendar</span>
                <div [ngClass]="calendar.isActive ? 'divider' : ''"></div>
              </div>
            </a>
          </li>
        </ul>

        <div class="d-flex nav-items">
          <div class="assets" *ngIf="notifications">
            <ng-template #content let-modal backdrop="false">
              <div class="modal-header">
                <h4 class="modal-title">Notification</h4>
                <button
                  type="button"
                  aria-label="Close"
                  class="button"
                  (click)="clearNotification()"
                >
                  Clear All
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <div class="date-container">
                    <span>Today</span>
                  </div>
                  <div
                    class="notification-template"
                    *ngFor="let notification of notifications"
                    (click)="readNotifications(notification.id)"
                    [routerLink]="['/booking/', notification.bookingId]"
                  >
                    <div class="notification-time">
                      <img src="../../assets/icons/file.svg" width="25px" />
                      <span>{{ notification.createdAt }}</span>
                    </div>
                    <div class="notification-content">
                      <span
                        ><b>{{ notification.title }}</b></span
                      >
                      <p [innerHTML]="notification.message"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-body" *ngIf="clearNotifications">
                <ng-template>
                  <div class="notification-empty-state">
                    <img src="../../assets/images/empty-state.svg" />
                    <p>No Notifications yet</p>
                  </div>
                </ng-template>
              </div>
              <div class="modal-body" *ngIf="clearAll">
                <div class="notification-empty-state">
                  <img src="../../assets/images/empty-state.svg" />
                  <p>No Notifications yet</p>
                </div>
              </div>
            </ng-template>

            <i
              class="pi pi-bell"
              pBadge
              style="font-size: 1.5rem"
              (click)="openSm(content)"
              value="{{ notifications?.length }}"
              *ngIf="notifications"
            ></i>
          </div>
          <!-- <div class="assets">
            <ng-template let-modal backdrop="false" #content>
              <div class="modal-header">
                <h4 class="modal-title">Notification</h4>
                <button
                  type="button"
                  aria-label="Close"
                  class="button"
                  (click)="clearNotification()"
                >
                  Clear All
                </button>
              </div>
              <div class="modal-body">
                <div class="notification-empty-state">
                  <img src="../../assets/images/empty-state.svg" />
                  <p>No Notifications yet</p>
                </div>
              </div>
            </ng-template>

            <i
              class="pi pi-bell"
              style="font-size: 1.5rem"
              (click)="openSm(content)"
            ></i>
          </div> -->
          <div class="assets" *ngIf="clearAll">
            <ng-template let-modal backdrop="false" #content>
              <div class="modal-header">
                <h4 class="modal-title">Notification</h4>
                <button
                  type="button"
                  aria-label="Close"
                  class="button"
                  (click)="clearNotification()"
                >
                  Clear All
                </button>
              </div>
              <div class="modal-body">
                <div class="notification-empty-state">
                  <img src="../../assets/images/empty-state.svg" />
                  <p>No Notifications yet</p>
                </div>
              </div>
            </ng-template>

            <i
              class="pi pi-bell"
              style="font-size: 1.5rem"
              (click)="openSm(content)"
            ></i>
          </div>
          <div *ngIf="showSettings" class="assets">
            <img src="../../assets/icons/gray-settings.svg" alt="" />
          </div>
          <div ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-items" role="button">
              <img
                src="../../assets/icons/avatar.svg"
                alt=""
                width="50"
                height="50"
                onmouseover="this.src = '../../assets/icons/avatar-hover.svg'"
                onmouseout="this.src = '../../assets/icons/avatar.svg'"
              />
            </a>
            <div
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
              class="dropdown-menu dropdown-menu-end"
            >
              <button ngbDropdownItem>
                <a class="nav-items">
                  <span>Abiola Babatunde</span>
                </a>
              </button>
              <button
                class="logout-button"
                pButton
                type="button"
                (click)="logout()"
              >
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<div>
  <h1></h1>
</div>
