<div class="container-fluid">
  <div class="row d-flex home-container">
    <div class="col-md-5 home-text-section">
      <div>
        <img
          src="../../assets/images/pwc logo.svg"
          class="home-content-image"
        />
        <p>HOME OF EXPERIENTIAL INNOVATION</p>
        <h1 class="home-content">Experience <b>Centre</b> Booking System</h1>
        <p class="home-subtext">
          Book a space at the PwC Experience Centre for your internal meetings
          and clients etc.
        </p>
      </div>
      <div class="search-wrapper">
        <div class="search-container">
          <div>
            <div class="d-flex search-title">
              <p>Rooms</p>
              <img
                src="../../assets/icons/chevron-up.svg"
                class="search-icon"
              />
            </div>

            <p-dropdown
              [options]="venues"
              [(ngModel)]="selectedVenue"
              placeholder="Choose a Room"
              optionLabel="name"
              [showClear]="true"
            ></p-dropdown>
          </div>
          <div>
            <div class="d-flex search-title">
              <p>Date</p>
              <img
                src="../../assets/icons/chevron-up.svg"
                class="search-icon"
              />
            </div>
            <p-calendar
              inputId="basic"
              placeholder="When does it start?"
              [(ngModel)]="date10"
              [disabledDates]="invalidDates"
              [disabledDays]="[0, 6]"
              [readonlyInput]="true"
            ></p-calendar>
          </div>
        </div>
        <button
          (click)="goToRoom()"
          class="search-button"
          pButton
          pRipple
          type="button"
          label="Complete Booking"
        ></button>
      </div>
    </div>

    <div class="col-md-7 exhibition-eclipse-wrapper">
      <div>
        <div class="exhibition-eclipse">
          <div class="exhibition-eclipse-content">
            <div class="mini-eclipse-1">
              <img
                (click)="changeImage(0)"
                src="../../assets/images/shrunk-one.svg"
                class="mini-eclipse-image-1"
              />
            </div>
            <div class="mini-eclipse-2">
              <img
                (click)="changeImage(1)"
                src="../../assets/images/shrunk-two.svg"
                class="mini-eclipse-image"
              />
            </div>
            <div class="mini-eclipse-3">
              <img
                (click)="changeImage(2)"
                src="../../assets//images/shrunk-three.svg"
                class="mini-eclipse-image"
              />
            </div>
            <div>
              <img [src]="[slide]" class="exhibition-eclipse-content-image" />
              <div>
                <h3 class="exhibition-eclipse-title">{{ title }}</h3>
                <p class="exhibition-eclipse-description">
                  {{ description }}
                </p>
              </div>
            </div>

            <!-- <div
              id="carouselExampleSlidesOnly"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="../../assets/images/coliseum-slide.svg"
                    class="d-block exhibition-eclipse-content-image"
                    alt="..."
                  />
                  <div>
                    <h3 class="exhibition-eclipse-title">The Coliseum</h3>
                    <p class="exhibition-eclipse-description">
                      Lorem ipsum dolor sit amet, conseelers sas adipiscing
                      elit. Donec dolor sit amet, apaisd
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="../../assets/images/kilimanjaro-slide.svg"
                    class="d-block exhibition-eclipse-content-image"
                    alt="..."
                  />
                  <div>
                    <h3 class="exhibition-eclipse-title">Kilimanjaro</h3>
                    <p class="exhibition-eclipse-description">
                      Lorem ipsum dolor sit amet, conseelers sas adipiscing
                      elit. Donec dolor sit amet, apaisd
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="../../assets/images/shuttle-slide.svg"
                    class="d-block exhibition-eclipse-content-image"
                    alt="..."
                  />
                  <div>
                    <h3 class="exhibition-eclipse-title">Shuttle Discovery</h3>
                    <p class="exhibition-eclipse-description">
                      Lorem ipsum dolor sit amet, conseelers sas adipiscing
                      elit. Donec dolor sit amet, apaisd
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="../../assets/images/breakroom-slide.svg"
                    class="d-block exhibition-eclipse-content-image"
                    alt="..."
                  />
                  <div>
                    <h3 class="exhibition-eclipse-title">Bream Room</h3>
                    <p class="exhibition-eclipse-description">
                      Lorem ipsum dolor sit amet, conseelers sas adipiscing
                      elit. Donec dolor sit amet, apaisd
                    </p>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="shadow-image">
          <img src="../../assets/images/shadow.svg" alt="" />
        </div>
      </div>
      <!-- <img src="../../assets/images/carousel.svg" width="100%" /> -->
    </div>
    <div>
      <img src="../../assets/images/footer.svg" width="100%" alt="" />
    </div>
  </div>
</div>
