<div class="vr-container">
  <div class="vr-title">
    <a routerLink="/rooms"
      ><img src="../../assets/icons/chevron-left-arrow.svg"
    /></a>
    <span>EC in VR</span>
  </div>
  <div class="">
    <iframe
      class="iframe-container"
      src="https://xperience-center-ar.netlify.app/ar.html?v=1"
      frameborder="0"
    ></iframe>
    <!-- <a
      href="https://xperience-center-ar.netlify.app/ar.html?v=1"
      target="_blank"
      ><img src="../../assets/images/vr-image.svg" width="100%"
    /></a> -->
  </div>
  <!-- <div class="d-flex">
    <div class="col-md-7 vr-content">
      <h3>Our Workspace</h3>
      <p>
        The Experience Centre is a purpose-built, multi-functional space. It
        houses a diverse team of business strategists, experience designers and
        technologists. We care about design and were very deliberate in creating
        the most state-of-the-art, experiential, interactive and adaptable space
        available in West Africa. Let’s go through each area and see what we get
        up to.
      </p>
    </div>
    <div class="col-md-5 vr-link">
      <a
        href="https://xperience-center-ar.netlify.app/ar.html?v=1"
        target="_blank"
        >View more<img src="../../assets/icons/chevron-right-arrow.svg"
      /></a>
    </div>
  </div> -->
</div>
