<div class="container-fluid rooms-section">
  <div class="row d-flex rooms-container">
    <div class="col-md-8">
      <h3 class="mb-0">Let's get started</h3>
      <span
        >Select one of the rooms below to find more information. Bookings should
        be made at least 4 days to the events’s day.
      </span>
    </div>
    <div class="col-md-4 date-container">
      <span class="date-container-top">Today </span>
      <p>{{ today | date: "d MMM y" }}</p>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-md-9 rooms-features">
      <a routerLink="/shuttle-discovery" class="row">
        <div class="shuttle-discovery">
          <div class="shuttle-content">
            <h3>Shuttle Discovery</h3>
            <span
              >A space ship themed Demo lab & Alternate reality room aptly named
              Shuttle Discovery after the NASA space of the same name. It is the
              only original Shuttle to survive her final launch and landing
              unlike the Challenger and Columbia.
            </span>
          </div>
        </div>
      </a>
      <div class="row second-rooms-section">
        <div class="col coliseum">
          <!-- <img src="../../assets/images/coliseum.svg" alt="" /> -->
          <div class="coliseum-content">
            <h3>Coliseum</h3>
            <span
              >A space created to spark creativity, knowledge, and instill the
              importance of community.
            </span>
          </div>
        </div>
        <div class="col kilimanjaro">
          <!-- <img src="../../assets/images/kilimanjaro.svg" alt="" /> -->
          <div class="kilimanjaro-content">
            <h3>Kilimanjaro</h3>
            <span
              >Appropriately named after the highest point in Africa,
              Kilimanjaro is our 12-man meeting room.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="VR-room">
        <div class="VR-room-overlay">
          <div>
            <p class="VR-room-overlay-title">
              Experience <br />
              Centre in <br />
              VR
            </p>
          </div>

          <div class="VR-room-link">
            <a routerLink="/vr-room">
              <img src="../../assets/icons/chevron-arrow.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
